main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main img{
    display: block;
    width: 85%;
    margin: 1rem auto 3.75rem auto;
}

main h2{
    margin: 1rem 0;
}

main ul{
    margin: 3rem;
}

main li{
    width: 6.25rem;
    margin: 0 auto;
}

ul p{
    margin: 0;
}

#nickname{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}

#server-name{
    color: gray;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.ingame-info{
    display: grid;
    grid-template-columns: 10rem 10rem;
}