*::-webkit-scrollbar{
    display: none;
}

html{
    font-family: "Pretendard Variable", sans-serif;
}

ul{                                     /*ul 기본 스타일 삭제용*/
    list-style: none;
    padding: 0;
}

a{                                     /*링크 기본 스타일 삭제용*/
    color: black;
    text-decoration: none;
}

a:hover, .dropdown:hover .dropbtn{
    text-decoration: underline;
}



header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
}

#page-logo a{
    font-size: 1.875rem;
    font-weight: 900;
    padding-left: 1.25rem;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.25rem;
}

#navbar li{
    margin-left: 1.25rem;
}

.page-now{
    text-decoration: underline;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn{
    font-size: 1rem;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.01);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a{
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content{
    display: block;
}

footer p{
    text-align: center;
    font-size: 0.6875rem;
    color: gray;
    margin-top: 3rem;
}